
/* PROPERTIES */
:root {
  --primary-color: #3c8471;
  --secondary-color: #4da38b;
  --light-color: #f9f5ed;
  --dark-color: #333333;
  --gray-color: #666666;
  --light-gray: #eeeeee;
  --transition: all 0.3s ease;
}

/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--light-color);
  color: var(--dark-color);
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* NAVBAR   ===================== */
